html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    max-width: 60rem;
    width: 100%;
    margin: auto;
}

.card {
    width: 100%;
    height: 20rem;
    background-color: antiquewhite;
    margin-bottom: 2rem;
}

#middle-card {
    background-color: burlywood;
}

button {
    height: 3rem;
    font-size: 1.6rem;
    border-radius: 10rem;
    background-color: black;
    color: white;
    cursor: pointer;
}
